:root {
  --color-white: #fff;
  --color-black: #222;
  --color-stone: #edeae6;
  --color-grey: #495057;
  --color-blue: #1a4381;
  --color-blue-tint: #297bf7;
  --color-tan: #978c83;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-dark: rgba(0, 0, 0, 0.2);
  --color-text: var(--color-blue);
  --color-background: var(--color-stone);
  --color-sheet: var(--color-white);
  --color-neutral: var(--color-grey);
  --color-link: var(--color-blue);
  --color-accent: var(--color-tan);
  --space-x-small: 0.25em;
  --space-small: 0.5em;
  --space-medium: 1em;
  --space-large: 2em;
  --space-x-large: 3em;
  --space-xx-large: 4em;
  --space-xxx-large: 6em;
  --font-sans: 'Quicksand', 'Helvetica Neue', helvetica, 'Apple Color Emoji',
    arial, sans-serif;
  --type-xxx-small: 55%;
  --type-xx-small: 65%;
  --type-x-small: 75%;
  --type-small: 85%;
  --type-medium: 100%;
  --type-large: 125%;
  --type-x-large: 150%;
  --type-xx-large: 200%;
  --type-xxx-large: 300%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection,
::-moz-selection {
  color: var(--color-stone);
  background-color: var(--color-blue-tint);
}
html {
  overflow-x: hidden;
  scroll-padding: 10em 0 0 0;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  color: var(--color-blue);
  background: url('/assets/background-beach.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  text-decoration-thickness: 0.1em;
  text-decoration-width: 0.1em;
}
a,
a:visited {
  color: inherit;
}
a:hover {
  color: var(--color-link);
  text-decoration-color: var(--color-tan);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space-x-small) 0 var(--space-x-small) 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  margin: 0 0 var(--space-x-small) 0;
  font-size: var(--type-xx-large);
  line-height: 1;
  letter-spacing: -0.03em;
}
h2 {
  font-size: calc(var(--type-large) - 15%);
}
@media (min-width: 45em) {
  h2 {
    font-size: var(--type-large);
  }
}
h3 {
  font-size: calc(var(--type-xxx-large) - 15%);
}
@media (min-width: 45em) {
  h3 {
    font-size: var(--type-xxx-large);
  }
}
p,
ul,
ol {
  margin: 0 0 var(--space-medium) 0;
  padding: 0;
  line-height: 1.5;
}
img,
svg,
video {
  max-width: 100%;
  height: auto;
}
.btn {
  background-color: var(--color-link) !important;
  background: linear-gradient(
    90deg,
    var(--color-link) 0%,
    var(--color-blue-tint) 100%
  ) !important;
  border-radius: .5em;
}
.btn:hover {
  color: var(--color-sheet);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 0 0.1rem var(--color-accent);
}
.page {
  padding-top: 3em;
  padding-top: max(3em, 8vmin);
}
.landing-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    90deg,
    var(--color-white),
    hsla(0, 0%, 93.3%, 0.82)
  );
  border-radius: 20px;
}
@media (max-width: 575px) {
  .landing-card {
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);
    width: auto;
  }
}
@media (max-width: 380px) {
  .landing-card {
    padding-right: var(--space-medium);
    padding-left: var(--space-medium);
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
}
.intro {
  width: 55%;
  text-align: center;
  padding: 25px 0 25px 40px;
}
@media (max-width: 1000px) {
  .intro {
    width: 100%;
    padding: 40px 40px 25px 40px;
  }
}
@media (max-width: 380px) {
  .intro {
    padding: 25px 0px;
  }
}
.intro h2 {
  text-transform: uppercase;
}
.intro img {
  margin-top: var(--space-large);
}
.detail-items {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--type-medium);
}
.detail-item {
  color: var(--color-tan);
  padding: 0 var(--space-large);
}
@media (max-width: 1200px) {
  .detail-item {
    padding: 0 var(--space-large);
  }
}
@media (max-width: 530px) {
  .detail-item {
    padding: 0 var(--space-medium);
  }
}
.detail-items a {
  color: var(--color-tan);
  text-decoration: none;
  vertical-align: middle;
}
.detail-items a:hover {
  text-decoration: underline;
}
.detail-item:first-child {
  border-right: 1px solid rgba(162, 149, 138, 0.25);
}
.announcement {
  width: 45%;
  padding: 25px 40px;
}
@media (max-width: 1000px) {
  .announcement {
    width: 100%;
    padding: 0 40px 25px;
  }
}
@media (max-width: 380px) {
  .announcement {
    padding: 0px;
  }
}
.announcement h3 {
  background: linear-gradient(90deg, var(--color-blue-tint), var(--color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.announcement a {
  text-decoration: underline;
}
.announcement a:hover {
  color: var(--color-blue-tint);
  text-decoration-color: var(--color-tan);
}
.form-label-group {
  position: relative;
  margin-bottom: var(--space-medium);
}
.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
  border-radius: .5em;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: var(--color-neutral);
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25em;
  transition: all 0.1s ease-in-out;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: var(--space-medium);
  padding-bottom: var(--space-x-small);
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: var(--space-x-small);
  padding-bottom: var(--space-x-small);
  font-size: 12px;
  color: #777;
}
.modal-content {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 1.5em;
}
.modal-header {
  background-color: var(--color-tan);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
.modal-title {
  color: var(--color-white);
}
.close:hover {
  color: var(--color-white);
}
footer {
  margin-top: var(--space-medium);
  margin-bottom: var(--space-x-large);
}
.copyright,
.copyright span,
.copyright a {
  color: var(--color-white);
}
.copyright span,
.copyright a {
  opacity: 0.7;
}
.copyright a:hover {
  opacity: 1 !important;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: var(--color-grey);
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: var(--color-grey);
  }
}
